APP_URL=http://localhost:5173/
LOGIN_PAGE_PATH=/login
REGISTER_PAGE_PATH=/register
PRODUCTS_PAGE_PATH=/products
CART_PAGE_PATH=/cart
CHECKOUT_PAGE_PATH=/checkout
ACCOUNT_PAGE_PATH=/account
CONFIRMATION_PAGE_PATH=/order-confirmation

APP_USERNAME=
APP_PASSWORD=

CI=false
PW_MAX_RETRIES=1
PW_WORKERS=1